body{
 
margin: 0;

}
h1{   font-family: 'Big Shoulders Stencil Display', cursive;
    font-family: 'Dancing Script';
    font-size: 40px;
}
.name-highlite{
    color: rgb(25, 148, 156);
}
p{
    color:cadetblue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 400px;
    padding-bottom: 100px;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( 45deg, skyblue, blue );
    padding: 10px 20px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}

h2{
    font-weight: 700;
    font-family: cursive;
    color: salmon;
}
h3{
    color: gray;
}
